@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-style: normal;
    src: url('./../../fonts/HelveticaNeueCondensedBold.woff2') format('woff2'),
        url('./../../fonts/HelveticaNeueCondensedBold.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-style: normal;
    src: url('./../../fonts/HelveticaNeueCondensedRegular.woff2') format('woff2'),
        url('./../../fonts/HelveticaNeueCondensedRegular.woff') format('woff');
}